* {
  font-family: Germania One;
  text-align: center;
}

.div {
  display: flex;
  justify-content: center;
}

#mainPage {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  color: #392a4a;
  height: 100;
  align-items: flex-start;
  padding-top: 25px;
}

#instructions {
  height: 450;
  padding-top: 25px;
}

body {
  background: #338047;
}

#canvas {
  border: 2px solid #aae3be;
  background-image: url('./Images/video-game-wallpaper.jpg');
  background-size: contain;
  background-position: center;
}

.button {
  padding-top: 25px;
}

#buttonClick {
  border-radius: 8px;
  color: white;
  background: red;
  padding: 10px 24px;
}